@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    font-family: 'Yusei Magic', sans-serif;
    background-image: url("https://media.giphy.com/media/aRZ4vTsHnyW6A/source.gif");
    color: white;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: silver;
    text-shadow: 2px 2px hotpink;
    text-align: center;
}

#setupDiv {
    text-align: center;
}

#controlDiv {
    position: fixed;
    bottom: 0;
    left: auto;
    right: auto;
    border: 5px blue solid;
    z-index: 3;
    display: none;
}



#fieldDiv{
    height: 550px;
    position: relative;
    justify-self: center;
}

#reset {
    display: none;
}

footer {
    background-color: goldenrod;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
}

footer p {
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

