@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body, html {
    font-family: 'Yusei Magic', sans-serif;
    background-image: url("https://media.giphy.com/media/aRZ4vTsHnyW6A/source.gif");
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: silver;
    text-shadow: 2px 2px hotpink;
    text-align: center;
}

.titleDiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.titleDiv img {
    margin-left: 20px;
    margin-right: 20px;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

#setupDiv {
    text-align: center;
}

#setupDiv {
    max-width: 800px;
    padding: 20px;
    margin: auto;
}

#anContainer {
    position: fixed;
    top: 6em;
    width: 100%;
    text-align: center;
    z-index: 5;
}

#announcementDiv {
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
    max-width: 250px;
    color: hotpink;
    text-shadow: .5px .5px silver;
    background-color: rgba(127, 255, 212, 0.815);
    padding: 3em;
    border: silver 1em ridge;
    border-radius: 1em;
    display: none;
    justify-self: center;
}

#announcementDiv input,
button {
    min-height: 3em;
    min-width: 9em;
    background-color: silver;
    opacity: 1;
    display: inline;
    margin-top: 2em;
    font-family: 'Press Start 2P', cursive;
}

#announcementDiv input:hover,
button:hover {
    background-color: rgb(143, 141, 141);
    color: rgb(217, 255, 47)
}

#statusBar {
    position: fixed;
    left: 2em;
    bottom: 2em;
    max-width: 200px;
    font-family: 'Press Start 2P', cursive;
    color:hotpink;
    text-shadow: grey 2px 2px;
    display: none;
}

#fieldDiv{
    min-height: 550px;
    position: relative;
    justify-self: center;
}

#earth {
    height: 250px;
    width: 250px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

#reset {
    display: none;
}

footer {
    background-color: goldenrod;
    opacity: 0.8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 20px;
}

#attributions {
    text-align: left;
}

#copyright {
    text-align: right;
}

.animated {
    transition: left 250ms ease-in-out, top 250ms ease-in-out;
}

footer p {
    padding: 0;
    margin: 0;
}

